<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
   		
		<h:head>
			<h:outputStylesheet library="css" name="estilo.css"/>
			
			<title><ui:insert name="Titulo">Veterinaria</ui:insert></title>
		</h:head>
		<body class="resolucion">
		<ui:insert name="header">
		<p:menubar>
		<p:menuitem value="Inicio" url="../protegido/principal.xhtml" icon="pi pi-th-large" />
 
        <p:submenu label="Citas" icon="pi pi-pencil">
            <p:menuitem value="Personas" url="../protegido/personas.xhtml" icon="pi pi-user" />
            <p:menuitem value="Mascotas" url="../protegido/mascota.xhtml" icon="pi pi-users" />
            <p:menuitem value="Citas Medicas" url="../protegido/citasmedica.xhtml" />
        </p:submenu>

    </p:menubar>
		</ui:insert>
		
		<ui:insert name="content">
		
		</ui:insert>
		
		<ui:insert name="footer">
			<div>Copyright Freddy M, 2020 Analisis de Sistemas.</div>
		</ui:insert>
		
		</body>
		
</html>