<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/WEB-INF/template/master.xhtml">
    	
    	<ui:define name="content">
    		<h1>Persona</h1>
    		<h:form id="form" enctype="multipart/form-data">
    			
			    <p:growl id="growl" showDetail="true" sticky="true" /> 
    			
    			<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();" actionListener="#{personaBean.limpiarControles()}" update=":form:dlg" process="@this"/>
    			
                 
                 <p:column headerText="Nombres Completos">
            		<h:outputText value="#{p.nombre} #{p.apellido}" />
     	   		</p:column>
                 
                 <p:column headerText="Direccion" >
                 	<h:outputText value="#{p.direccion}" />
                 </p:column>
                 
                 <p:column headerText="Acciones" exportable="false">
                 	<p:commandLink actionListener="#{personaBean.mostrarDatos(p)}" oncomplete="PF('wdlg').show();" 
                 				update=":form:dlg" inmediate="true" process="@this">
                 		<h:graphicImage library="images" name="edit.jpg"/>
                 	</p:commandLink>
                 </p:column>
                 </p:dataTable>
    			
    			<p:dialog id="dlg" header="#{personaBean.tipoDialogo}" widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false" draggable="false">
    				<h:panelGrid id="pg" columns="3">
    					<p:outputLabel for="txtNombres" value="Nombres"/>
    					<p:inputText id="txtNombres" required="true" value="#{personaBean.persona.nombres}"/>
    					<p:message for="txtNombres" display="icon"/>
    					
    					<p:outputLabel for="txtApellidos" value="Apellidos"/>
    					<p:inputText id="txtApellidos" required="true" value="#{personaBean.persona.apellidos}"/>
    					<p:message for="txtApellidos" display="icon"/>
    					
    					
    					<p:outputLabel for="txtDireccion" value="Direccion"/>
    					<p:inputText id="txtDireccion" required="true" value="#{personaBean.persona.direccion}"/>
    					<p:message for="txtDireccion" display="icon"/>

    				</h:panelGrid>
    				
    				<p:commandButton value="Registrar" actionListener="#{personaBean.operar('R')}" oncomplete="if(args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" ajax="true" update="pg" rendered="#{personaBean.tipoDialogo == 'Nueva Persona'}" />
    				
    			</p:dialog>
    			
    		</h:form>

    	</ui:define>
    </ui:composition>
    
</html>